header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  padding: 27px 0;
  background-color: #fff;
  z-index: 100;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
header nav .nav_items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
header nav .nav_items .nav-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}
header nav .nav_items .nav-items #husus {
  background-color: inherit;
  cursor: pointer;
  outline: 0;
  color: #222;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
header nav .nav_items .nav-items .links {
  color: #222;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  transition: 0.5s;
  position: relative;
}
header nav .nav_items .nav-items .links svg {
  fill: #f9f;
  opacity: 0.6;
}
header nav .nav_items .nav-items .links::before {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  background: #ffa155;
  transition: 0.5s;
  bottom: -5px;
}
header nav .nav_items .nav-items .links:hover {
  color: #333;
}
header nav .nav_items .nav-items .links:hover::before {
  width: 100%;
}
header nav .nav_items .nav-items .links:hover svg {
  fill: #fff;
}
header nav .nav_items .nav-items .search {
  box-shadow: 0 0 0;
  border-radius: 6px;
  border: 1px solid #e7e8e3;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 9px 21px;
  transition: 0.4s;
  color: #2a2c1f;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  border: 0;
}
header nav .nav_items .nav-items .search:hover {
  color: #fff;
  background-color: #fbbca3;
}
header nav .nav_items .nav-items .item-btns {
  display: flex;
  align-items: center;
  gap: 16px;
}
header nav .nav_items .nav-items .item-btns a {
  border-radius: 6px;
  border: 1px solid #e7e8e3;
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  display: flex;
  align-items: center;
  gap: 12px;
  color: #2a2c1f;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  padding: 9px 21px;
  transition: 0.4s;
}
header nav .nav_items .nav-items .item-btns a:hover {
  color: #fff;
  background-color: #fbbca3;
}
header nav .nav_items .nav-items .item-btns .orange {
  border-radius: 6px;
  border: 1px solid #cf6f49;
  background: #cf6f49;
  padding: 9px 21px;
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  transition: 0.4s;
}
header nav .nav_items .nav-items .item-btns .orange:hover {
  background-color: #c25e37;
}
header nav .nav_items .nav-btn {
  display: flex;
  align-items: center;
  gap: 24px;
}
header nav .nav_items .nav-btn #dark-light {
  background-color: transparent;
  cursor: pointer;
  border-radius: 44px;
  overflow: hidden;
  border: 0;
  /* Checked */
  /* Other States */
}
header nav .nav_items .nav-btn #dark-light .l {
  display: block;
  margin-bottom: 1.5em;
  font-size: 1em;
  cursor: pointer;
}
header nav .nav_items .nav-btn #dark-light .l {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.75em;
  box-shadow: 0.125em 0.125em 0 0.125em rgba(0, 0, 0, 0.3) inset;
  color: #fdea7b;
  display: inline-flex;
  align-items: center;
  margin: auto;
  padding: 0.15em;
  width: 3em;
  height: 1.5em;
  transition: background-color 0.1s 0.3s ease-out, box-shadow 0.1s 0.3s ease-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
header nav .nav_items .nav-btn #dark-light .l:before,
header nav .nav_items .nav-btn #dark-light .l:after {
  content: "";
  display: block;
}
header nav .nav_items .nav-btn #dark-light .l:before {
  background-color: #d7d7d7;
  border-radius: 50%;
  width: 1.2em;
  height: 1.2em;
  transition: background-color 0.1s 0.3s ease-out, transform 0.3s ease-out;
  z-index: 1;
}
header nav .nav_items .nav-btn #dark-light .l:after {
  background: linear-gradient(transparent 50%, rgba(0, 0, 0, 0.15) 0) 0 50%/50% 100%, repeating-linear-gradient(90deg, #bbb 0, #bbb, #bbb 20%, #999 20%, #999 40%) 0 50%/50% 100%, radial-gradient(circle at 50% 50%, #888 25%, transparent 26%);
  background-repeat: no-repeat;
  border: 0.25em solid transparent;
  border-left: 0.4em solid #d8d8d8;
  border-right: 0 solid transparent;
  transition: border-left-color 0.1s 0.3s ease-out, transform 0.3s ease-out;
  transform: translateX(-22.5%);
  transform-origin: 25% 50%;
  width: 1.2em;
  height: 1em;
  box-sizing: border-box;
}
header nav .nav_items .nav-btn #dark-light .l:checked {
  background-color: rgba(0, 0, 0, 0.45);
  box-shadow: 0.125em 0.125em 0 0.125em rgba(0, 0, 0, 0.1) inset;
}
header nav .nav_items .nav-btn #dark-light .l:checked:before {
  background-color: currentColor;
  transform: translateX(125%);
}
header nav .nav_items .nav-btn #dark-light .l:checked:after {
  border-left-color: currentColor;
  transform: translateX(-2.5%) rotateY(180deg);
}
header nav .nav_items .nav-btn #dark-light .l:focus {
  /* Usually an anti-A11Y practice but set to remove an annoyance just for this demo */
  outline: 0;
}
header nav .nav_items .nav-btn .burger_menu {
  display: none;
}

@media only screen and (max-width: 999px) {
  header nav .nav_items .nav-items {
    position: absolute;
    top: 100%;
    left: 0;
    width: 65vw;
    background-color: rgba(228, 231, 255, 0.909);
    flex-direction: column;
    padding: 50px;
    align-items: flex-start;
    transform: translateX(-100%);
    transition: all 0.5s ease-in-out;
    -webkit-backdrop-filter: blur(3px);
            backdrop-filter: blur(3px);
  }
  header nav .nav_items .nav-items a {
    font-size: 20px;
  }
  header nav .nav_items .nav-items a::before {
    top: -10px;
  }
  header nav .nav_items .nav-btn .burger_menu {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 28px;
    height: 24px;
    transition: all 0.5s ease-in-out;
  }
  header nav .nav_items .nav-btn .burger_menu span {
    width: 100%;
    height: 3px;
    background-color: #000;
    opacity: 0.5;
    transition: all 0.5s ease-in-out;
    border-radius: 8px;
  }
  .open_menu header nav .nav_items .nav-items {
    transform: translateX(0);
  }
  .open_menu header nav .nav_items .nav-btn .burger_menu {
    transform: rotate(360deg);
  }
  .open_menu header nav .nav_items .nav-btn .burger_menu_top {
    position: absolute;
    transform: rotate(135deg);
  }
  .open_menu header nav .nav_items .nav-btn .burger_menu_center {
    position: absolute;
    transform: rotate(-135deg);
  }
  .open_menu header nav .nav_items .nav-btn .burger_menu_bottom {
    display: none;
  }
}
@media only screen and (max-width: 576px) {
  header nav .nav_items .nav-items {
    align-items: center;
    width: 100vw;
  }
}
/* FOOTER */
footer .foot_cards {
  display: flex;
  justify-content: space-between;
  gap: 98px;
  padding: 96px 0;
}
footer .foot_card h6 {
  color: #2a2c1f;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  padding-bottom: 16px;
}
footer .foot_card {
  display: flex;
  flex-direction: column;
}
footer .foot_card a + a {
  margin-top: 16px;
}
footer .foot_card a {
  color: #2a2c1f;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 150% */
  transition: 0.4s;
}
footer .foot_card a:hover {
  color: #b1b1b1;
}
footer .foot_card_content h6 {
  color: #2a2c1f;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
footer .foot_card_content .text {
  max-width: 379px;
  color: #65665c;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  padding: 10px 0 15px;
}
footer .foot_card_content p {
  color: #65665c;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 150% */
  padding-top: 16px;
}
footer .foot_form {
  display: flex;
  align-items: center;
  position: relative;
}
footer #email {
  outline: none;
  padding: 22px 56px 23px 24px;
  border-radius: 6px;
  border: 1px solid #e7e8e3;
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
}
footer .foot_form button {
  border-radius: 6px;
  border: 1px solid #cf6f49;
  background: #cf6f49;
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  padding: 20px 32px;
  border: none;
  position: absolute;
  right: -10px;
  cursor: pointer;
  transition: 0.5s;
}
footer .foot_form button:hover {
  background-color: #a34e2d;
  color: #1c202f;
}
@media only screen and (max-width: 1277px) {
  footer .foot_cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 616px) {
  footer #email {
    padding: 22px 300px 23px 24px;
  }
}
@media only screen and (max-width: 515px) {
  footer #email {
    padding: 22px 250px 23px 24px;
  }
}
@media only screen and (max-width: 454px) {
  footer #email {
    padding: 22px 200px 23px 24px;
  }
}
@media only screen and (max-width: 404px) {
  footer #email {
    padding: 22px 150px 23px 24px;
  }
}

.hero {
  padding-top: 10px;
  position: relative;
}
.hero .topp {
  position: absolute;
  top: 10px;
  left: 0;
}
.hero .hero-content .cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero .hero-content .cards .card {
  max-width: 640px;
  position: relative;
}
.hero .hero-content .cards .card:first-child {
  padding: 160px 0 101px;
}
.hero .hero-content .cards .title {
  max-width: 171px;
  color: #2a2c1f;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 150% */
  border-radius: 32px;
  background: #e7e8e3;
  padding: 4px 12px;
}
.hero .hero-content .cards h1 {
  color: #2a2c1f;
  font-family: Roboto;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 67.2px; /* 120% */
  padding-top: 20px;
}
.hero .hero-content .cards p {
  max-width: 503px;
  color: #65665c;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
  padding: 20px 0;
}
.hero .hero-content .cards .right {
  position: absolute;
  right: 0;
  bottom: 14px;
}
.hero .hero-content .cards .hero-img {
  width: 100%;
}
.hero .hero-content .cards form {
  position: relative;
  max-width: 310px;
}
.hero .hero-content .cards form input {
  width: 100%;
  outline: none;
  border-radius: 6px;
  border: 1px solid #e7e8e3;
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  padding: 9px 0 9px 45px;
  background-image: url(../../images/search.svg);
  background-position: top 16px left 16px;
  background-repeat: no-repeat;
  color: #65665c;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
}
.hero .hero-content .cards form button {
  max-width: 156px;
  position: absolute;
  top: 0px;
  right: -170px;
  border-radius: 6px;
  border: 1px solid #cf6f49;
  background: #cf6f49;
  color: #fff;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
  padding: 9px 18px 11px;
}
.hero .hero-content .cards2 {
  padding-top: 67px;
  padding-bottom: 122px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  flex-wrap: wrap;
}
.hero .hero-content .cards2 p {
  max-width: 243px;
  color: #2a2c1f;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 150% */
}
.hero .hero-content .cards2 .logos {
  display: flex;
  align-items: center;
  gap: 32px;
  flex-wrap: wrap;
}
.hero .hero-content .cards2 .logos svg {
  fill: #737680;
  transition: 0.4s linear;
  cursor: pointer;
}
.hero .hero-content .cards2 .logos svg:hover {
  fill: #354;
}
@media only screen and (max-width: 1065px) {
  .hero .hero-content .cards {
    justify-content: center;
    flex-wrap: wrap;
  }
  .hero .hero-content .cards2 {
    justify-content: center;
  }
}
@media only screen and (max-width: 800px) {
  .hero .hero-content .cards2 {
    justify-content: center;
  }
  .hero .hero-content .cards2 .logos {
    justify-content: center;
  }
}
@media only screen and (max-width: 615px) {
  .hero .hero-content .cards .card h1 {
    font-size: 32px;
    line-height: 40px;
  }
  .hero .hero-content .cards .card form {
    padding-bottom: 55px;
  }
  .hero .hero-content .cards2 {
    justify-content: center;
  }
}
@media only screen and (max-width: 505px) {
  .hero .hero-content .cards .card form button {
    top: 60px;
    right: 0;
  }
}
@media only screen and (max-width: 446px) {
  .hero .hero-content .cards .card form {
    padding-bottom: 125px;
  }
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Regular.ttf);
}
.dark header {
  background: #354;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.top {
  background-color: #939878;
}
.top .top-content {
  position: relative;
}
.top .top-content p {
  text-align: center;
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 150% */
  padding: 10px;
}
.top .top-content .x {
  position: absolute;
  top: 5px;
  right: 0;
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */